@each $key, $val in $colors {
    .text-#{$key}{
        color: $val
    }
    .bg-#{$key}{
        background-color: $val
    }


    // mix with white color
    @if ($key != "white") {
        @for $i from 1 to 9 {
            .text-white-#{$key}-#{$i}{
                color: mix(white, $val, 10 * $i)
            }
        }
    }
}